/**

 * @name Dark Discord Custom
 * @version 1.0
 * @description An actual dark mode for discord, edited by InferusAnima.
 * @source https://raw.githubusercontent.com/InferusAnima/DarkDiscordCustom/master/DarkDiscordCustom.theme.css
 * @website https://github.com/InferusAnima/DarkDiscordCustom
 * @authorId 266269359780003841
 * @author InferusAnima
 * @donate https://paypal.me/okalinina
 * @invite dRsmUHw

**/

@import url(https://hellbound1337.github.io/dark-discord/src/source.css);

.theme-dark,
.theme-light,
:root {
    --background-primary: #141414 !important;
    --background-secondary: #111111 !important;
    --background-secondary-alt: #292929 !important;
    --background-tertiary: #0c0c0c !important;
    --background-accent: #242424 !important;
    --background-floating: black !important; 
    --background-modifier-hover: rgba(255,255,255,0.01) !important;
    --background-modifier-active: rgba(255,255,255,0.03) !important;
    --background-modifier-selected: rgba(255,255,255,0.04) !important;
    --background-modifier-accent: hsla(0,0%,100%,0.06) !important;
    --channeltextarea-background: var(--background-accent) !important;
    --deprecated-card-bg: rgba(0, 0, 0, 0.2) !important;
    --deprecated-card-editable-bg: rgba(0,0,0,0.1) !important;
    --activity-card-background: var(--background-primary) !important;
    --channels-default: #9f9f9f !important;
    --text-muted: #b6b6b6 !important;
    --text-normal: #fbfbfb !important; 
    --interactive-normal: #c8c8c8 !important;
    --interactive-hover: #dcddde !important;
    --interactive-active: #fff !important;
    --interactive-muted: #747474 !important;
    --header-secondary: #c9c9c9 !important;
    --toast-background: var(--background-primary) !important;
    --toast-header: var(--background-tertiary) !important;
    --toast-contents: var(--background-secondary) !important;
    --toast-box-shadow: rgba(0, 0, 0, .2) !important;
    --toast-border: var(--background-tertiary) !important;
    --offline-color: rgb(60, 60, 60) !important;
    --green: #43b581;
    --greenDark: #359066;
    --yellow: #faa61a;
    --yellowDark: #dc8b05;
    --red: #f04747;
    --redDark: #b63b3b;
    --purple: #593695;
    --purpleDark: #432870;
    --blurple: #7289da;
    --nitro: #ff73fa;
}

[aria-label=USER_SETTINGS] .side-8zPYf6 .item-PXvHYJ:nth-child(10) {
    color: var(--nitro);
}
[aria-label=USER_SETTINGS] .side-8zPYf6 .item-PXvHYJ:nth-child(10):before {
    background: var(--nitro);
}
[aria-label=USER_SETTINGS] .side-8zPYf6 .item-PXvHYJ:nth-child(11) {
    color: var(--yellow);
}
[aria-label=USER_SETTINGS] .side-8zPYf6 .item-PXvHYJ:nth-child(11):before {
    background: var(--yellow);
}

.macButtonClose-MwZ2nf {
    
   border-radius: 0 !important;
   border: none !important;
    
}

.macButtonMinimize-3EJ6wo {
    border-radius: 0 !important;
    border: none !important;
}

.macButtonMaximize-2FMHAO {
    border-radius: 0 !important;
    border: none !important; 
}

.macButtonClose-MwZ2nf {
   border-radius: 0 !important;
   border: none !important;
}

.macButtonMinimize-3EJ6wo {
    border-radius: 0 !important;
    border: none !important;
}

.macButtonMaximize-2FMHAO {
    border-radius: 0 !important;
    border: none !important;
}
